@charset "UTF-8";
:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --titles-color-text: #212121;
  --buttons-color-text: #212121;
  --secondary-buttons-color-text: #ffffff;
  --buttons-background-color: #f5f4fa;
  --hero-title-color-text: #ffffff;
  --accent-coolor: #2196f3;
  --secondary-buttons-background-color: #188ce8;
  --secondary-background-color: #f5f4fa;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, 'sans-serif';
  color: var(--primary-color-text);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__batton-close {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__batton-close:hover .modal__icon-close,
.modal__batton-close:focus .modal__icon-close {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color-text);
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-color-text);
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus,
.modal-form__user-comments:focus {
  border: 1px solid #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-coolor);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__badge {
  position: relative;
}

.modal-form__icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__user-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__user-comments::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox__label {
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.modal-checkbox__wrap {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input:checked + .modal-checkbox__label .modal-checkbox__wrap {
  background-color: var(--accent-coolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.modal-checkbox__input:focus + .modal-checkbox__label .modal-checkbox__wrap {
  border-color: var(--accent-coolor);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input {
  position: absolute;
  clip: rect(0 0 0 0);
}

.modal-checkbox__link {
  color: var(--accent-coolor);
  text-decoration-line: underline;
  /* margin-left: 5px; заменен мнемокодом &nbsp;*/
}

.modal-form-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-buttons-color-text);
  background: var(--accent-coolor);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover, .modal-form-button:focus {
  background: var(--secondary-buttons-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4) rotate(90deg);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 610px;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
    height: 580px;
  }
  .modal-checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
  .modal__title {
    font-size: 20px;
    line-height: 1.5;
  }
}

.header {
  position: relative;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  font-family: Raleway, 'sans-serif';
  letter-spacing: 0.03em;
  color: var(--accent-coolor);
}

.logo__contrast {
  color: var(--secondary-color-text);
}

.feedback__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  color: var(--primary-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__link:hover, .feedback__link:focus {
  color: var(--accent-coolor);
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.nav-list.feedback {
  display: flex;
  align-items: center;
}

.nav-list__item {
  position: relative;
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}

.nav-list__link--activ::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-coolor);
  border-radius: 2px;
  left: 0;
  bottom: -33px;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
  }
  .header__logo {
    margin-right: 88px;
  }
  .feedback__link:first-child {
    margin-top: 10px;
  }
  .feedback__icon-mailto {
    width: 14px;
    height: 10px;
  }
  .feedback__icon-tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (max-width: 767px) {
  .header__content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navigation {
    display: none;
  }
  .feedback {
    display: none;
  }
  .mobile-nav-list {
    margin-bottom: 305px;
  }
  .mobile-nav-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);
  }
  .mobile-nav-list__link--activ {
    color: var(--accent-coolor);
  }
  .mobile-feedback__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-feedback__link-mail {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-coolor);
  }
  .mobile-feedback__link-tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-color-text);
  }
  .mobile-social-list {
    display: flex;
    margin-top: 64px;
  }
  .mobile-social-list__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-button:hover, .mobile-menu-button:focus {
    fill: var(--accent-coolor);
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #FFFFFF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-button {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 10px;
    right: 15px;
    padding: 0;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
    fill: var(--accent-coolor);
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-list {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-list {
    display: flex;
  }
  .nav-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color-text);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-coolor);
  }
  .nav-list__link--activ {
    color: var(--accent-coolor);
  }
  .feedback {
    align-items: center;
  }
  .feedback__icon-mailto,
  .feedback__icon-tel {
    margin-right: 8px;
    fill: currentColor;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .header__logo {
    margin-right: 93px;
  }
  .feedback {
    display: flex;
  }
  .feedback__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .feedback__item:last-child {
    margin-left: 50px;
  }
  .feedback__icon {
    margin-right: 10px;
  }
}

.hero {
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-hw4/overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color-text);
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  background: var(--secondary-buttons-background-color);
  color: var(--secondary-buttons-color-text);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--accent-coolor);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-overlay/overlay-mobile.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-overlay/overlay-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-overlay/overlay-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-overlay/overlay-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-overlay/overlay-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images-overlay/overlay-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-overlay {
  display: flex;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.features-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-color-text);
  margin-bottom: 10px;
  text-align: center;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
}

@media screen and (max-width: 480px) {
  .features-list__item:not(:last-child) {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
  }
  .features-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .features-list__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-list {
    display: flex;
  }
  .features-list__item {
    width: 270px;
  }
  .features-list__item + .features-list__item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .developments {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .developments {
    padding-bottom: 94px;
  }
  .developments__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--titles-color-text);
    margin-bottom: 50px;
  }
  .development-list {
    display: flex;
  }
  .development-list__item + .development-list__item {
    margin-left: 30px;
  }
  .development-content {
    position: relative;
  }
  .development-content__label {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    font-size: 14px;
    line-height: 1.14;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.team {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color-text);
  margin-bottom: 30px;
}

.team-list__officer-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
  margin-top: 30;
  margin-bottom: 10px;
}

.team-list__officer-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  margin-bottom: 16px;
}

.team-list__item {
  display: block;
  background: #ffffff;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.team-list__content {
  padding: 30px 10px;
  text-align: center;
}

.social-networking-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networking-list__link:hover, .social-networking-list__link:focus {
  background-color: var(--accent-coolor);
  color: #ffffff;
}

.social-networking-list {
  display: flex;
  justify-content: center;
}

.social-networking-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-networking-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
    flex-wrap: wrap;
  }
  .team-list__item {
    display: block;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
  .team-list {
    margin-left: -30px;
    margin-bottom: -30px;
    flex-wrap: wrap;
  }
  .team-list__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.regular-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.regular-clients__title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--titles-color-text);
  margin-bottom: 30px;
}

.regular-clients-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.regular-clients-list__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.regular-clients-list__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  min-height: 92px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients-list__link:hover, .regular-clients-list__link:focus {
  border: 1px solid var(--accent-coolor);
  color: var(--accent-coolor);
}

.regular-clients-list__brend-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .regular-clients-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .regular-clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
  .regular-clients-list {
    justify-content: center;
    margin-left: -30px;
    flex-wrap: nowrap;
  }
  .regular-clients-list__item {
    width: 170px;
  }
  .regular-clients-list__item:not(:last-child) {
    margin-left: 30px;
  }
}

.buttons-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.buttons-list__item:nth-last-child(-n + 5) {
  margin-right: 8px;
}

.buttons-list__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 29px;
  background: var(--buttons-background-color);
  color: var(--buttons-color-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list__button:hover, .buttons-list__button:focus {
  background-color: var(--accent-coolor);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-list__item {
  margin-bottom: 15px;
}

.projects-list__item {
  background: #ffffff;
}

.projects-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover, .projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__link:hover .projects-list__overlay-text,
.projects-list__link:focus .projects-list__overlay-text {
  transform: translateY(0);
}

.projects-list__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.projects-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-color-text);
}

.projects-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
}

.projects-list__-overlay {
  position: relative;
  overflow: hidden;
}

.projects-list__overlay-text {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 65px 25px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__-overlay {
  position: relative;
  overflow: hidden;
}

.projects-list__overlay-text {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 65px 25px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-button {
  cursor: pointer;
}

.projects-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover, .projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__link:hover .projects-list__overlay-text,
.projects-list__link:focus .projects-list__overlay-text {
  transform: translateY(0);
}

.projects-list__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.projects-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-color-text);
}

.projects-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
}

.mobile-menu {
  z-index: 1;
}

@media screen and (max-width: 1199px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .projects-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
    text-align: left;
  }
  .projects-list__item {
    height: 100%;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .projects-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
    text-align: left;
  }
  .projects-list__item {
    display: flex;
    background: #ffffff;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo-white {
  color: #ffffff;
}

.footer-contacts {
  display: inline-block;
}

.contact-info-list__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.contact-info-list__link:hover, .contact-info-list__link:focus {
  color: var(--accent-coolor);
}

.contact-info-list__link--adress {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info-list__link--mailto,
.contact-info-list__link--tel {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-socials-list {
  display: flex;
}

.join-socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.join-socials-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-socials-list__link:hover, .join-socials-list__link:focus {
  background-color: var(--accent-coolor);
}

.join-socials-list__icon {
  fill: currentColor;
}

.subscription-form__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription__input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 100%;
  height: 50px;
  padding: 15px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__input:focus {
  border: 1px solid #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-coolor);
  color: var(--secondary-buttons-color-text);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button:hover, .subscription__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__icon {
  display: block;
  margin-left: 10px;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__logo {
    margin-left: 100px;
  }
  .footer {
    position: relative;
  }
  .footer-adress {
    display: inline-block;
  }
  .footer-contacts {
    margin-left: 61px;
  }
  .contact-info-list__item {
    display: flex;
    justify-content: center;
  }
  .footer__join {
    display: inline-block;
    position: absolute;
    top: 65px;
    margin-left: 165px;
    text-align: center;
  }
  .subscription {
    width: 450px;
    margin: 0 auto;
  }
  .subscription-form__title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
  .subscription__input {
    margin-bottom: 20px;
  }
  .join-socials-list {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
  }
  .footer__logo {
    display: block;
  }
  .footer__content {
    text-align: center;
  }
  .join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
  .footer-adress {
    flex-grow: 1;
  }
  .footer__content {
    display: flex;
    align-items: baseline;
  }
  .footer__join {
    flex-grow: 1;
    margin-left: 0px;
  }
  .subscription {
    display: flex;
    margin-bottom: 0;
  }
  .footer__subscription-form {
    display: block;
  }
  .subscription__input {
    width: 358px;
  }
  .subscription__button {
    margin-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */