// 0 - 1199px
@media screen and (max-width: 1199px) {
  .developments {
    display: none;
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .developments {
    padding-bottom: 94px;
  }
  
  .developments__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--titles-color-text);
    margin-bottom: 50px;
  }
  
  .development-list {
    display: flex;
  }
  
  .development-list__item+.development-list__item {
    margin-left: 30px;
  }
  
  .development-content {
    position: relative;
  }
  
  .development-content__label {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    font-size: 14px;
    line-height: 1.14;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

