.team {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color-text);
  margin-bottom: 30px;
}

.team-list__officer-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
  margin-top: 30;
  margin-bottom: 10px;
}

.team-list__officer-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  margin-bottom: 16px;
}

.team-list__item {
  display: block;
  background: #ffffff;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
    &:not(:last-child){
      margin-bottom: 30px;
  }
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__content {
  padding: 30px 10px;
  text-align: center;
}

.social-networking-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-coolor);
    color: #ffffff;
  }
}

.social-networking-list {
  display: flex;
  justify-content: center;
}

.social-networking-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-networking-list__icon {
  fill: currentColor;
}


// 768px + 
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
    flex-wrap: wrap;
  }
  
  .team-list__item {
    display: block;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }

  .team-list {
    margin-left: -30px;
    margin-bottom: -30px;
    flex-wrap: wrap;
  }
  
  .team-list__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

    .team-list__content {
      padding: 30px 32px;
    }
}


