.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
 
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__batton-close {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover .modal__icon-close,
  &:focus .modal__icon-close {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-color-text);
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-color-text);
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  transition: fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus,
.modal-form__user-comments:focus {
  border: 1px solid #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-coolor);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__badge {
  position: relative;
}

.modal-form__icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__user-comments {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__user-comments::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox__label {
  display: flex;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.modal-checkbox__wrap {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input:checked + .modal-checkbox__label .modal-checkbox__wrap {
  background-color: var(--accent-coolor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.modal-checkbox__input:focus + .modal-checkbox__label .modal-checkbox__wrap {
  border-color: var(--accent-coolor);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input {
  position: absolute;
  clip: rect(0 0 0 0);
}

.modal-checkbox__link {
  color: var(--accent-coolor);
  text-decoration-line: underline;
  /* margin-left: 5px; заменен мнемокодом &nbsp;*/
}

.modal-form-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-buttons-color-text);
  background: var(--accent-coolor);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--secondary-buttons-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4) rotate(90deg);
}

// 480px-1199px
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 610px;
  }
}

// 0-480px
@media screen and (max-width: 480px) {
  .modal {
   width: calc(100% - 30px);
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
    height: 580px;
  }

  .modal-checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1.5;
  }

}

