:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --titles-color-text: #212121;
  --buttons-color-text: #212121;
  --secondary-buttons-color-text: #ffffff;
  --buttons-background-color: #f5f4fa;
  --hero-title-color-text: #ffffff;
  --accent-coolor: #2196f3;
  --secondary-buttons-background-color: #188ce8;
  --secondary-background-color: #f5f4fa;
}
